.idea/
.vscode/
build/
cmake*/
debug/
doc/*/
qmake*/
release/
resource/*.html
test/Boost Test/*.cpp
.CMakeLists*.*
.qmake.stash
.todo
my.res
*.zip
**/*.afdesign
**/Makefile
**/Makefile.*
!**/CMakeLists.txt
**/clion*.*
!**/.gitkeep
