.idea/
.vscode/
build/
cmake*/
qmake*/
debug/
doc/**/
!doc/additionnal.css
!doc/Labyrinth.jpg
release/
.qmake.stash
.clean.sh
.todo
diff.diff
my.res
**/*.pro.user
**/Makefile
**/Makefile.*
**/CMakeLists.txt
**/CMake*.*
**/clion*.*
!**/.gitkeep
